#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin 8% 0 5% 0
  width 100%
  align-items center

body
  background #FFFAE6

//=========================================================

.stepper
  height 80px
  border-radius 50px
  background #FFFAE6
  width 30%
  top 12%
  z-index 2
  left 35%
  position absolute

.stepper__detail
  color #FF8A00
  padding-top 35px
  margin 0 5px 0 5px
  display inline-block

.arrow
  border solid #FF8A00
  border-width 0 3px 3px 0
  display inline-block
  padding 5px
  margin 0 5px 0 5px
  transform rotate(-45deg)
  -webkit-transform: rotate(-45deg)

.round {
  padding: 5px 10px 5px 10px;
  border-radius 50%
  margin-right 5px
}

.active
  background-color #FF8A00
  color white

.unactive
  color #FF8A00
  background-color #ffe2b7

.cart
  margin 0
  width 80%
  height 550px
  background #FFFFFF
  display grid
  position relative
  //grid-column-start: 1;
  //grid-column-end: 25;

.back__button
  display inline-block
  text-align -webkit-left
  margin 1% 0 0 5%

.back__button  p
  display inline-block

#back--arrow
  font-size 20px

//=========================================================

.cart__delivery
  background #FFFFFF

